<form>
  <legend>{{ legend() }}</legend>

  <div class="field">
    <label for="addressLine1">Address Line 1</label>
    <input id="addressLine1" placeholder="Address Line 1">
  </div>

  <div class="field">
    <label for="addressLine2">Address Line 2</label>
    <input id="addressLine2" placeholder="Address Line 2">
  </div>

  <div class="field">
    <label for="zipCode">Zip Code</label>
    <input id="zipCode" placeholder="Zip Code">
  </div>

  <div class="field">
    <label for="city">City</label>
    <input id="city" placeholder="City">
  </div>
</form>
