<form [formRoot]="form">
  <legend>{{ legend() }}</legend>

  <div class="field">
    <label for="addressLine1">Address Line 1</label>
    <input [formField]="form.addressLine1" id="addressLine1" placeholder="Address Line 1">
    <field-error [field]="form.addressLine1()" />
  </div>

  <div class="field">
    <label for="addressLine2">Address Line 2</label>
    <input [formField]="form.addressLine2" id="addressLine2" placeholder="Address Line 2">
    <field-error [field]="form.addressLine2()" />
  </div>

  <div class="field">
    <label for="zipCode">Zip Code</label>
    <input [formField]="form.zipCode" id="zipCode" placeholder="Zip Code">
    <field-error [field]="form.zipCode()" />
  </div>

  <div class="field">
    <label for="city">City</label>
    <input [formField]="form.city" id="city" placeholder="City">
    <field-error [field]="form.city()" />
  </div>
</form>
