<div class="field">
  <label>Course Type</label>
  <div class="radio-group">
    <label class="radio-option">
      <input type="radio" name="courseType" value="free"> Free
    </label>
    <label class="radio-option">
      <input type="radio" name="courseType" value="premium"> Premium
    </label>
  </div>
</div>

<div class="field">
  <label>Thumbnail</label>
  <input type="file" accept="image/png">
</div>

<div class="field">
  <label>Price</label>
  <input type="number" placeholder="Price">
</div>

<div class="field">
  <label>Promo Start Date</label>
  <input type="date">
</div>

<div class="field">
  <label>Promo End Date</label>
  <input type="date">
</div>
