<div class="profile-page">
  <h2 class="profile-title">My Profile</h2>

  <div class="profile-layout">

    <div class="card profile-card">

      <div class="profile-avatar-bar">
        <div class="profile-avatar">
          <profile-avatar-icon />
        </div>
        <div>
          <div class="profile-avatar-label">My Profile</div>
        </div>
      </div>

      <div class="profile-form">

        <form [formRoot]="form">

          <div class="field">
            <label>Profile picture</label>
            <file-upload [formField]="form.avatarUrl" requiredFileType="image/*" />
          </div>

          <div class="field">
            <label for="email">Email address</label>
            <input [formField]="form.email" id="email" type="email" placeholder="your@email.com">

            @if (form.email().readonly()) {
              <div class="hint">Email cannot be changed after registration</div>
            }

          </div>
          <!-- address-form component goes here -->
          <address-form [formField]="form.address" legend="Billing Address" />

          <div class="form-actions">
            <button class="btn btn-primary" type="submit">
              <save-icon />
              Save profile
            </button>
          </div>

        </form>
      </div>
    </div>

    <!--div class="field-debug">
      <p>Avatar URL field state</p>
      <p>value: {{ form.avatarUrl().value() }}</p>
      <p>touched: {{ form.avatarUrl().touched() }}</p>
      <p>dirty: {{ form.avatarUrl().dirty() }}</p>
      <p>valid: {{ form.avatarUrl().valid() }}</p>
      <p>invalid: {{ form.avatarUrl().invalid() }}</p>
      <p>pending: {{ form.avatarUrl().pending() }}</p>
      <p>errors: {{ form.avatarUrl().errors() | json }}</p>
    </div-->

    <div class="field-debug">
      <p>Address form state</p>
      <p>value: {{ form.address().value() | json}}</p>
      <p>touched: {{ form.address().touched() }}</p>
      <p>dirty: {{ form.address().dirty() }}</p>
      <p>valid: {{ form.address().valid() }}</p>
      <p>invalid: {{ form.address().invalid() }}</p>
      <p>pending: {{ form.address().pending() }}</p>
      <p>errors: {{ form.address().errors() | json }}</p>
    </div>

    <div class="field-debug">
      <p>Form state</p>
      <p>value: {{ form().value() | json }}</p>
      <p>touched: {{ form().touched() }}</p>
      <p>dirty: {{ form().dirty() }}</p>
      <p>valid: {{ form().valid() }}</p>
      <p>invalid: {{ form().invalid() }}</p>
      <p>pending: {{ form().pending() }}</p>
      <p>errors: {{ form().errors() | json }}</p>
    </div>

  </div>
</div>
